{% extends "templates/base.html" %}

{% set title = "トップページ" %}
{% block content %}
<h3 class="teal-text text-lighten-3">数値の解析</h3>
<p class="flow-text">好きな数字を入力してください</p>
<div class="row">
    <form class="col s12" method="post" action="/analyze_number">
        <div class="row">
            <div class="input-field col s6">
              <input id="num" type="number" name="num" required />
              <label for="num">数値</label>
            </div>
        </div>
        <button class="col s12 btn light-blue darken-3 waves-effect waves-light mt-4" type="submit" >
            送信
        </button>
    </form>
</div>
{% endblock %}