<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数字の判定</title>
</head>
<body>
    <h1>数字の判定</h1>
    <p>あなたが入力した数値は {{ number }} です。</p>
    <table>
        <thead>
            <tr>
                <td></td>
                <td>判定</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>偶数</td>
                <td>{{ is_even|bool_to_symbol }}</td>
            </tr>
            <tr>
                <td>素数</td>
                <td>{{ is_prime|bool_to_symbol }}</td>
            </tr>
        </tbody>
    </table>
    <button type="button" onclick="history.back()">戻る</button>
</body>
</html>