{% extends "base.html" %}

{% set title = "数字の判定" %}
{% block content %}
<p class="flow-text">あなたが入力した数値は {{ number }} です。</p>
<table class="responsive-table">
    <thead>
        <tr>
            <td></td>
            <td>判定</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>偶数</td>
            <td>{{ is_even|bool_to_symbol }}</td>
        </tr>
        <tr>
            <td>素数</td>
            <td>{{ is_prime|bool_to_symbol }}</td>
        </tr>
    </tbody>
</table>
{% include "components/backButton.html" %}
{% endblock %}