{% extends "base.html" %}

{% set title = "在庫一覧" %}
{% block content %}
<table class="responsive-table">
    <thead>
        <tr>
            <th>品名</th>
            <th>価格</th>
            <th>在庫数</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.stock }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "components/backButton.html" %}
{% endblock %}